.main {
  margin-top: 60px;
  padding: 1rem;
}

.navigation {
  position: fixed;
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  background: #3d3db8;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}